@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-2 navbar-brand">
            UBE Version Browser
        </div>
        <div class="col">
            <UBESearchAndSelect />
        </div>
    </div>
</nav>
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>